<h2>{{_homeMessage}}</h2>

<div *ngIf="_authService.authenticated()" class="alert alert-success">
    <strong >{{_loginMessage}}</strong>
</div>

<div *ngIf="!_authService.authenticated()" class="alert alert-danger">
    <strong >{{_notloginMessage}}</strong>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>                            
                <th>Firstname</th>                            
                <th>Lastname</th>                                
                <th>Picture</th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of _users">
                <td>
                    {{user.id}}
                </td>
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.lastname}}
                </td>
                <td>
                    {{user.pict}}
                </td>                
            </tr>
        </tbody>
    </table>


